<div class="bg-{{ section.id }} section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
{%- if section.settings.bg-image != blank -%}   
<style>
.bg-{{ section.id }} {
  background-image: url('{{ section.settings.bg-image | img_url: '2048x2048' }}');
  {%- if section.settings.bg-size == "cover" -%} background-size: cover; {%- endif -%} 
  {%- if section.settings.bg-size == "contain" -%} background-size: contain; {%- endif -%} 
  {%- if section.settings.bg-position == "center" -%} background-position: center; {%- endif -%} 
  {%- if section.settings.bg-position == "left" -%} background-position: left; {%- endif -%} 
  {%- if section.settings.bg-position == "lefttop" -%} background-position: top left; {%- endif -%} 
  {%- if section.settings.bg-position == "leftbottom" -%} background-position: bottom left; {%- endif -%} 
  {%- if section.settings.bg-position == "right" -%} background-position: right; {%- endif -%} 
  {%- if section.settings.bg-position == "righttop" -%} background-position: top right; {%- endif -%} 
  {%- if section.settings.bg-position == "rightbottom" -%} background-position: bottom right; {%- endif -%} 
  {% unless section.settings.is_fullwidth %}
    border-radius: var(--border-radius-cards);
    overflow:hidden;
  {% endunless %}
  border:none;
  background-repeat:no-repeat;
}  

</style>
{%- endif -%} 
{%- if section.settings.section_bgcolor != "rgba(0,0,0,0)" -%}
  <style>
.bg-{{ section.id }} {
  background-color: {{ section.settings.section_bgcolor }};
}    
 </style>
{%- endif -%}  

{% if section.settings.image != blank %}
  <img class="imagedesktop" width="100%" height="auto" {% if section.settings.fullsize != true %} style="max-width:{{ section.settings.image_size }}px;margin:0 auto;display:block;margin-bottom:0px;padding-bottom:0px;"{% endif %} src="{{ section.settings.image | img_url: '2048x2048' }}" alt=""/>
  {% if section.settings.imagemobile != blank %}  <img class="imagemobile" width="100%" height="auto" {% if section.settings.fullsize != true %} style="max-width:{{ section.settings.image_size }}px;margin:0 auto;display:block;margin-bottom:0px;padding-bottom:0px;"{% endif %} src="{{ section.settings.imagemobile | img_url: '2048x2048' }}" alt=""/>{% endif %}  
{% endif %}
{% if section.settings.imagemobile != blank %}  
  {% style %}
    .bg-{{ section.id }} .imagemobile {
      display:none;
    }
  
    @media screen and (max-width: 749px) {
      .bg-{{ section.id }} .imagemobile {
        display:block;
      }
      .bg-{{ section.id }} .imagedesktop {
        display:none;
      }
    }
  {% endstyle %}
{% endif %}  
</div>

{% schema %}
{
  "name": "Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Upload desktop image"
    },
    {
      "type": "image_picker",
      "id": "imagemobile",
      "label": "Upload mobile image"
    },
    {
      "type": "checkbox",
      "id": "fullsize",
      "default": false,
      "label": "Full width?"
    },
    {
      "type": "range",
      "id": "image_size",
      "min": 100,
      "max": 1600,
      "step": 100,
      "unit": "px",
      "label": "Max image size",
      "default": 1200
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "section_bgcolor",
      "label": "Section background color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "section_textcolor",
      "label": "Section text color",
      "default": "rgba(0,0,0,0)"
    },
    {
        "type": "image_picker",
        "id": "bg-image",
        "label": "Background image"
    },
    {
      "type": "select",
      "id": "bg-size",
      "label": "Background image size",
      "options": [
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "cover",
          "label": "Cover"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "bg-position",
      "label": "Background image position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "righttop",
          "label": "Right top"
        },
        {
          "value": "rightbottom",
          "label": "Right bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "lefttop",
          "label": "Left top"
        },
        {
          "value": "leftbottom",
          "label": "Left bottom"
        }   
      ],
      "default": "center"
    },
  ],
  "presets": [
    {
      "name": "Simple image - Extended"
    }
  ]
}
{% endschema %}
